<template name="layout">
	<div class="container">
		<div id="topbar" class="row">
			<h1> <a href="/"> <span class="circle1">M</span>atch the <span class="circle2">C</span>olor</a></h1>
		</div>
		<div id="main" class="row">
			<div id = "target" class="col-md-4" style="background-color: {{randomColor}}">
			</div>
			<div class="col-md-4 instructions">
				<ul>
					<h1> Instructions </h1>
					<li> Box on the left is your <strong>target</strong>. </li>
					<li> <strong>Hover or use the mousewheel</strong> over the box on the right until it has the <strong>same color as the target. </strong></li>
					<li> You have <strong>3</strong> attempts for every target.</li>
				</ul>
			</div>
			<div id ="player" class="col-md-4">
			</div>
			
		</div>
		{{> middle}}
		{{> modal}}
		{{> yield}}
	</div>
</template>