<template name="middle">
	<div class="row">
		<div class="col-md-4 tries">
			<h2> Attempts left: {{ tries }}</h2>
		</div>
		<div class="col-md-4 start-over">
			<button class="btn btn-warning"> Start Over!</button>
		</div>	
		<div class="col-md-4 controls">		
			<div class="row">
				<h3> Controls: 
				<img class="mouse" src="img/mousered.png" alt="redmouse"/>
				<img class="mouse" src="img/mousegreen.png" alt="greenmouse"/>
				<img class="mouse" src="img/mouseblue.png" alt="bluemouse"/>
				</h3>
			</div>
		</div>
	</div>
</template>