<template name="scoreboard">
	<div class="scoreboard col-md-4">
		<h1> High Scores </h1>
		<div class="score">
			<div class="score-content">
				<table class="table table-striped" style = "width:100%">
					<tbody>
						<tr class= "active" >
							<th> #      </th>
							<th> Name	</th>
							<th> Score	</th>
						</tr>
						{{#each scores}}
						{{> singlescore}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<h1> Result </h1>
		<table class="table table-condensed" style="width:100%">
			<tbody>
				<tr class="active">
					<th> </th>
					<th>Points</th>
					<th> % </th> 
				</tr>
				<tr class="danger">
					<td>The red component was off by : </td>
					<td> {{ redOff}}  </td> 
					<td> {{ redOffperc}}  </td>
				</tr>
				<tr class="success">
					<td>The green component was off by : </td>
					<td> {{ greenOff}} </td> 
					<td> {{ greenOffperc}} </td>
				</tr>
				<tr class="info">
					<td>The blue component was off by : </td>
					<td> {{ blueOff}} </td> 
					<td> {{ blueOffperc}} </td>
				</tr>
			</tbody>
		</table>
		<h3> Your final score is : <span id="scorePos"> {{ currentScore }}</span></h3>
	</div>
</template>